(define-system NN
  	(simulink "src/test/simulink/narmamaglev_v1.slx")
  	(parameters u_ts)
  	(inputs  Ref)
  	(outputs Pos NNPos)
  	(piecewise-constant Ref 1 3)
    (constant u_ts 0.001))

(define close_ref (p q)
    (<= (abs (- Pos Ref))
        (+ p (* q (abs Ref)))))

(define reach_ref_in_tau (p q)
    (eventually (0 2)
        (always (0 1)
            (close_ref p q))))

(define NN (p q)
    (always (1 18)
        (implies
            (not (close_ref p q))
            (reach_ref_in_tau p q))))

(set-seed 0)
(set-repeat 50)
(define N 300)

(set-report "results/quest2019-journal/instance2/summary.csv")
(set-log "results/quest2019-journal/instance2/nn.csv")

(select-system NN)
(set-requirements
    ; (NN 0.005 0.04)
    (NN 0.005 0.03))

; (set-solver random 3 N)
; (falsify)
(set-solver adaptive (3 3 3 3 3 3) 0.25 N)
(falsify)
